@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #00b8b8;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid rgba(0,0,0,0.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: none;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--blue);
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

body{
    background: url('donorbg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container{
    max-width: 400px;
    margin: 30px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-bottom: 15px;
    font-size: 4rem;
    color: var(--black);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-top: 30px;
    text-align: center;
}

.form-group{
    margin-bottom: 20px;
}

.form-control{
    height: 45px;
    font-size: 1.6rem;
}

.form-btn{
    margin-top: 20px;
}

.btn-primary{
    height: 45px;
    font-size: 1.6rem;
    width: 100%;
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-primary:hover{
    background-color: #0e8a8a;
    border-color: #0e8a8a;
}

p{
    margin-top: 20px;
    font-size: 1.4rem;
}

a{
    color: var(--blue);
}
